{{weather-icon place.icon}}

  <h1>{{place.name}}</h1>

  <h2>{{ temp-convert place.temp}}</h2>




<!-- TODO below needs separate component for modal information with dynamic linking -->
  {{hike-modal place=place index=index}}
