<div class="gmaps">
  <br><br>
  {{#g-map lat=place.lat lng=place.lon zoom=12 as |context|}}
    {{#g-map-marker context group="trailhead" lat=place.lat lng=place.lon as |markerContext|}}
      {{#g-map-infowindow markerContext}}
        <h2>{{place.name}}</h2>
      {{/g-map-infowindow}}
    {{/g-map-marker}}
  {{/g-map}}
</div>
