Location Tile
{{#g-map lat=45.5897 lng=-122.730514 zoom=12 as |context|}}
  {{#g-map-marker context group="trailhead" lat=45.5897 lng=-122.730514 as |markerContext|}}
    {{#g-map-infowindow markerContext}}
      <h2>Trailhead of Joy and Wonder</h2>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
{{/g-map}}
