.headerButton {
  @include displayForm(inline-block, $position: absolute, $left: 44%);
  @extend %center;
  bottom: -25%;
  background: lighten(#EB8C04, 15%);
  text-decoration: none;
  color: white;
  padding: 15px 0;
  width: 291px;
  font-weight: bold;
  border-radius: .4em;
  @media (max-width: 1060px) {
    display: none !important;
  }

  &:hover {
    cursor: pointer;
    float: left;
  }
  &:after {
    @include displayForm(block, $position: absolute, $top: 100%, $left: 45%);
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid lighten(#EB8C04, 15%);
    border-right: 10px solid transparent;
    border-bottom: 10 solid transparent;
    border-left: 10px solid transparent;
  }
}
