header {
  margin: 0;
  position: relative;
  video {
    opacity: .9;
    position: absolute;
    margin-bottom: -6px;
    width: 100%;
    z-index: -1;
  }
  h1 {
    text-align: center;
    font-family: "BlackNotColor";
    font-size: 15em;
    margin-bottom: 0;
    color: darken(#676059, 15%);
  }
  p {
    margin-top: 0;
    text-align: center;
    font-family: "BlackNotColor";
    font-size: 5em;
    color: black;
  }
}
