header {
  margin: 0;
  position: relative;
  background-color: darken(orange, 25%);
  video {
    opacity: .8;
    margin-bottom: -6px;
    width: 100%;
    z-index: -1;
    max-height: 100vh;
  }
  .headingWords {
    position: absolute;
    width: 100%;
    bottom: 14em;

    h1 {
      @include fontBasics("neverStop", $color: white, $font-size: 17em);
      @extend %center;
      margin: auto;
      text-shadow: 2px 2px 4px darken(orange, 25%);
      @media (max-width: 1060px) {
        font-size: 8em;
      }
      @media (max-width: 716px) {
        display: none;
      }
    }
    p {
      @include fontBasics("neverStop", $color: white, $font-size: 5em);
      @extend %center;
      margin: auto;
      text-shadow:  2px 2px 4px darken(orange, 25%);
      @media (max-width: 1060px) {
        font-size: 2em;
      }
      @media (max-width: 716px) {
        display: none;
      }
    }
  }
}
