header {
  margin: 0;
  position: relative;
  background-color: darken(orange, 25%);
  max-height: 1400px;

  video {
    opacity: .8;
    margin-bottom: -6px;
    width: 100%;
    z-index: -1;
    max-height: 100vh;
  }
  h1 {
    position: absolute;
    width: 100%;
    top: 7%;
    text-align: center;
    font-family: "neverStop";
    font-size: 17em;
    color: #FAD496;
    text-shadow: 1px 1px 4px darken(#6c4b1f, 5%);
  }
  p {
    position: absolute;
    width: 100%;
    bottom: 20%;
    text-align: center;
    font-family: "neverStop";
    font-size: 5em;
    color: #FAD496;
    text-shadow: 1px 1px 4px darken(#6c4b1f, 5%);
  }
}
