<header>
  <!-- <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div> -->
  <nav>
    <ul>
      <li class="1">{{#link-to 'index'}}H?KE{{/link-to}}</li>
      <li class="1"><a href="#">Your Destination</a></li>
      <li class="1"><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="videoHeader">
    <video  autoplay loop>
      <source src="/assets/img/Agua-natural.mp4" type="video/mp4" />
    </video>
  </div>
  <h1>H?KE</h1>
  <p>For your ultimate hiking experience</p>
</header>
<div class="overLord">


  {{outlet}}
</div>




<footer>
</footer>
