<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<nav id="top">
  <ul>
    <li>{{#link-to 'index'}}H?KE{{/link-to}}</li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<header>
  <video autoplay loop>
    <source src="/assets/img/Agua-natural.mp4" type="video/mp4" />
  </video>
  <div class="headingWords">
    <h1>H?KE</h1>
    <p>walk the ultimate path</p>
    {{#scroll-to href='#destination' label="destination"}}<span class="headerButton hvr-hang">Begin Your Adventure</span> {{/scroll-to}}
  </div>
</header>
<div class="overLord">
  {{outlet}}
</div>
<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="/assets/img/mountains.png" alt="Logo image">
  </div>
  <ul>
    <li><a href="javascript:void(0)">About</a></li>
    <li><a href="javascript:void(0)">Contact</a></li>
  </ul>
  <div class="footer-secondary-links">
    <ul>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
    <ul class="footer-social">
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
        </a></li>
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
      </a></li>
    </ul>
  </div>
</footer>
