<div class="hikeContainer">
  <div class="containingHike">
    <div class="hike1">
    </div>
    <div class="hike2">
    </div>
    <div class="hike3">
    </div>
  </div>
</div>
<div class="shinyContainer">
  <div class="shiny1">
    <img src="/assets/img/nature.png" alt="icon of a tree" />
    <h2>Hiking Destinations</h2>
    <p>Blizzard esatto havaianas crawdads toad imlay canyon gear never summer red feather scott seven2 sporthill topeak trager.</p>
  </div>
  <div class="shiny2">
    <img src="/assets/img/tool.png" alt="icon of a tent" />
    <h2>Take a Hike</h2>
    <p>Airboard beal bear vault buck knives demon snow edelweiss eureka imlay canyon gear katadyn lib technologies naxo nrs pacific outdoor equipment paha que thule vans western mountaineering.</p>
  </div>
  <div class="shiny3">
    <img src="/assets/img/weather.png" alt="icon of a sun" />
    <h2>Hiking Essentials</h2>
    <p>Barograph daily mean density drizzle echo gradient wind gulf stream hurricane watch low level jet (llj) nexrad palouser parhelion pascal rip current snow level.</p>
  </div>
</div>

<div class="mainContent">
  <h1><center>Your Journey Awaits</center></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
