<div class="hikeContainer">
  <div class="containingHike">
    <div class="hike1">
    </div>
    <div class="hike2">
    </div>
    <div class="hike3">
    </div>
  </div>
</div>
<div class="shinyContainer">
  <div class="shiny1">
    <img src="/assets/img/nature.png" alt="icon of a tree" />
    <h2>Hiking Destinations</h2>
    <p>Blizzard esatto havaianas crawdads toad imlay canyon gear never summer red feather scott seven2 sporthill topeak trager.</p>
  </div>
  <div class="shiny2">
    <img src="/assets/img/tool.png" alt="icon of a tent" />
    <h2>Take a Hike</h2>
    <p>Airboard beal bear vault buck knives demon snow edelweiss eureka imlay canyon gear katadyn lib technologies naxo nrs pacific outdoor equipment paha que thule vans western mountaineering.</p>
  </div>
  <div class="shiny3">
    <img src="/assets/img/weather.png" alt="icon of a sun" />
    <h2>Hiking Essentials</h2>
    <p>Barograph daily mean density drizzle echo gradient wind gulf stream hurricane watch low level jet (llj) nexrad palouser parhelion pascal rip current snow level.</p>
  </div>
</div>

<div id="destination" class="mainContent">

  <h1><center>Your Journey Awaits</center></h1>
  <div class="grid-items">

    <!-- TODO We are generating the location tiles here, but we want them to not be all the same (see the comment out code below). Can we find a way to get ember to generate more dynamic tiles? The ember docs has info on customizing components that will help with this -->
  {{#each model.places as |place|}}
    {{hike-tile place=place}}
  {{/each}}
<!--
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    <h1>Grid Item With an Image</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    <h1>Another Wide Item</h1>
    <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    <h1>Last Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    <h1>Last Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    <h1>A Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <h1>Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a> -->
</div>
<!-- <div class="grid-items">
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
  <h1>Grid Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
  <h1>Grid Item With an Image</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item grid-item-big">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
  <h1>Another Wide Item</h1>
  <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
  <h1>Last Grid Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
  <h1>Last Grid Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
  <h1>A Grid Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
  <h1>Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>


</div> -->
<!-- <div class="grid-items">
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
  <h1>Grid Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
  <h1>Grid Item With an Image</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item grid-item-big">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
  <h1>Another Wide Item</h1>
  <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
  <h1>Last Grid Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
  <h1>Last Grid Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
  <h1>A Grid Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
  <h1>Item</h1>
  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
</a>


</div> -->


</div>
